.alert {
    position: relative;
    width: 100%;
    margin-bottom: 0;
}

.message {
    height: 100px;
    margin-bottom: 0;
    background-color: whitesmoke;
}

/* .container {
    margin-top: 102px;
} */

.button {
    margin-right: 10px;
}