.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid black;
}

.section {
    display: flex;
    flex-direction: column;
}

.image {
    margin : 0 auto;
    width: fit-content;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}