@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Bebas+Neue&family=Courgette&family=Lobster&family=Noto+Sans&display=swap');

.jumbo {
    height: calc(100vh - 0px);
    width: 100%;
    background-image: url(../public/assets/meal.jpeg);
    background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center;
}

.container {
    height: 100%;
    width: 100%;
}

.content {
    height: 100%;
    color: white;
    font-family: 'Bebas Neue';
}