.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.map {
    margin: 0 auto;
    width: 80%;
}
.hours {
    list-style: none;
    /* margin-left: -55px; */
    text-align: center;
    margin-left: -45px;
}

@media screen and (max-width: 768px) {
    .map {
        width: 100%;
    }
}