.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(129, 52, 0, 255);
    color: rgb(231, 222, 222);
}

.map {
    margin: 0 auto 50px;
    width: 40%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.hours {
    list-style: none;
    /* margin-left: -55px; */
    text-align: center;
    margin-left: -45px;
    font-size: large;
}

.li  {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .map {
        width: 60%;
    }
}