.menu{
    max-width: 1120px;
    margin: 100px auto;
    width: 100%;
}

.container {
    display: grid;
    margin-bottom: 60px;
    position: relative;
    color: black;
}

.right {
    background-color: rgb(228, 227, 227);
    align-items: flex-start;
}

.left {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url(../public/assets/rib.jpg);
    background-position: center;
    background-size: cover;
}


@media (min-width: 1282px){
    .container {
        margin-right: 0;
    }
}
@media (min-width: 64rem) {
    .container {
        margin-bottom: 120px;
    }
}

@media (min-width: 48rem){
    .container{
        grid-template-columns: repeat(4, 1fr);
        margin-right: calc(24px * -1);
        max-width: 1234px;
    }
}



@media (min-width: 64rem) {
    .left {
        margin: 66px 0;
        padding-right: 0;
    }
}

@media (min-width: 48rem){
    .left {
        grid-column: 1/3;
        grid-row: 1;
        margin: 40px 0;
        padding-right: 40px;
    }
}

@media (min-width: 64rem){
    .right {
        padding-left: calc(33.333% + 120px);
        padding-right: 126px;
    }
}
@media (min-width: 48rem){
    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 2/-1;
        grid-row: 1;
        padding: 0 36px 0 calc(33.333% + 20px);
    }
}   

@media (max-width: 47.9375rem){
    .left {
        margin-bottom: -72px;
        padding: 0 36px;
        z-index: 1;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        height: 40vh;
    }

    .right {
        padding: 114px 24px 36px;
        text-align: center;
    }
    
}



.figure {
    margin: 0;
    overflow: hidden;
    position: relative;
}