.button:hover {
    box-shadow: 0 3px 5px 2px rgba(255, 251, 252, 0.3)
}

.content {
    display: flex;
    padding: 20px 0;
}
.right1 {
    text-align: left;
    width: 50%;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.left1 {
    position: relative;
    width: 50%;
    height: 50vh;
    background-position: center;
    background-size: cover;
}

.img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.menu{
    /* margin: 100px auto; */
    margin-bottom: 100px;
    width: 100%;
    background-color: rgba(129, 52, 0, 255);
}

.container {
    display: grid;
    margin-bottom: 60px;
    position: relative;
    color: black;
}

.right {
    background-color: #f5f5dd;
    align-items: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.left {
    position: relative;
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
}


@media (min-width: 1282px){
    .container {
        margin-right: 0;
    }
}
@media (min-width: 64rem) {
    .container {
        margin-bottom: 120px;
    }
}

@media (min-width: 48rem){
    .container{
        grid-template-columns: repeat(4, 1fr);
        margin-right: calc(24px * -1);
        max-width: 1234px;
    }
}



@media (min-width: 64rem) {
    .left {
        margin: 66px 0;
        padding-right: 0;
    }
}

@media (min-width: 48rem){
    .left {
        grid-column: 1/3;
        grid-row: 1;
        margin: 40px 0;
        padding-right: 40px;
    }
}

@media (min-width: 64rem){
    .right {
        padding-left: calc(33.333% + 120px);
        padding-right: 126px;
    }
}
@media (min-width: 48rem){
    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 2/-1;
        grid-row: 1;
        padding: 0 36px 0 calc(33.333% + 20px);
    }
}   

@media (max-width: 47.9375rem){
    .left {
        margin-bottom: -72px;
        padding: 0 36px;
        z-index: 1;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        height: 40vh;
    }

    .right {
        padding: 114px 24px 36px;
        text-align: center;
    }
    
}



.figure {
    margin: 0;
    overflow: hidden;
    position: relative;
}