.navbarmaroon {
  background-color: maroon;
}

.navbar {
  display: flex;
  color: black;
}

.h4 {
  font-size: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
/* Need to add hover effect for Navbar */
.h4:hover {
}

/* Need to add media queries for medium and small screens */
@media screen and (min-width: 600px) {
}

@media screen and (min-width: 1024px) {
}
