.navlinks {
  font-size: 1rem;
  padding: 0.5rem;
  /* display: flex;
  justify-content: flex-end; */
  text-decoration: none;
}
/* Need to add hover effect for Navbar */
/* .navlinks:hover {
} */

.navbar {
  width: 100%;
  background-color: rgb(156, 13, 13);
}

.logo {
  background-image: url(../public/assets/fatpiglogo.png);
}

/* Need to add media queries for medium and small screens */
@media screen and (min-width: 600px) {
}

@media screen and (min-width: 1024px) {
}
