.container {
    margin-top: 100px ;
    margin-bottom: 100px;
    text-align: center;
    padding-bottom: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 100px auto;
    overflow-x: hidden;
    flex-direction: column;
  }



  .component {
    margin-left: 10px;
    margin-right: 10px;
  }

.yelper {
  margin: 0;
  padding: 0;
}